<agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">
  <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng">
    <agm-info-window>
      <strong>{{marcador.titulo}}</strong>
      <p>{{marcador.descripcion}}</p>
      <div>
        <button style="margin-right: 5px;" mat-raised-button color="primary">Editar</button>
        <button mat-raised-button color="warn">Borrar</button>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
